.main-contianer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 118px;
    justify-items: center;
}

.cart-container {
    background-color: #ff9900;

}